@charset "UTF-8";

/*css para impressora*/

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;   /*tirar menu*/
}
article::after{    /*inserir um texto*/
    content: "Este artigo foi impresso através de um site ";
}
article{
    width: 100%;
}